<!---->
<div *ngIf="!loaded" class="p-d-flex p-jc-center p-ai-center" style="height:400px">
    <div class="p-col-12 p-md-11 p-grid p-d-flex p-jc-center">
        <p-progressSpinner class="customizedSpinner" [style]="{width: '150px', height: '150px'}">
        </p-progressSpinner>
    </div>
</div>


<!-- <div *ngIf="!loaded" class="p-d-flex p-jc-center">
    <div class="p-col-12 p-md-11 p-grid">
        <div *ngFor="let i of ['', '..', '...']" class="p-field p-col-12 p-my-2 p-md-6 p-lg-4">
            <h5>Fetching {{i}}</h5>
            <p-skeleton styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div>
    </div>
</div> -->

<div *ngIf="loaded" class="p-d-flex p-jc-center">
    <div class="p-col-12 p-md-11 p-grid">
        <div *ngFor="let survey of surveys" class="p-col-12 p-my-2 p-md-6 p-lg-4">
            <p-card styleClass="p-card-shadow p-shadow-4 p-py-0 customCardClass">
                <p-panel header="#{{survey.id}}">
                    <ng-template pTemplate="icons">
                        <p-button icon="pi pi-file-o" class="p-button-info" class="p-button-info"
                            routerLink="/survey/{{survey.id}}"></p-button>
                    </ng-template>
                    <h3 class="p-mt-0">{{survey.fname}} {{survey.lname}}</h3>
                    <div class="p-card-subtitle ng-star-inserted p-pb-2">{{survey.email}}</div>
                    <div *ngIf="survey.recommendToOthers === 'veryLikely'" class="p-d-flex p-jc-sm-end">
                        <p-chip label="Recommends" styleClass="p-mr-2 custom-chip p-ml-auto" icon="pi pi-check">
                        </p-chip>
                    </div>
                </p-panel>
            </p-card>
        </div>
    </div>
</div>